# ======================
# .NET
# ======================
bin/
obj/
*.dll
*.exe
*.pdb

# Logs
logs/
*.txt

# Data Protection Keys
**/keys/

# ======================
# Node
# ======================
node_modules/
dist/

# ======================
# Env
# ======================
.env
.env.*

# ======================
# IDE
# ======================
.vscode/
.idea/
.DS_Store